.logo h1 {
  background: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/logo.png',sizingMethod='scale')";
  width: 262px;
  height: 122px;
  margin-top: 20%;
}
.download {
  background: none;
}