
.DS_Store

source/docs
source/www
source/www-production
source/test/$src.html
source/test/$www.html
source/src/scripts.xml
source/src/styles.xml

source/libs/atnotate/atnotate.pyc

source/build.log

spring/source/.project
spring/sample/app-web/.project
spring/source/lavaca-web/.project

spring/source/.classpath
spring/sample/app-web/.classpath
spring/source/lavaca-web/.classpath

spring/source/.settings/*
spring/sample/app-web/.settings/*
spring/source/lavaca-web/.settings/*

spring/sample/app-web/target/*
spring/source/lavaca-web/target/*

source/android/.classpath

source/android/.project
source/android/bin/*
source/android/gen/*

source/ios/www/*

*atnotate.pyc
*build.log

samples/sink/www/*
samples/sink/android/*
samples/sink/ios/*
samples/sink/docs/*
samples/sink/test/*
samples/sink/src/scripts.xml
samples/sink/src/styles.xml

samples/todos/www/*
samples/todos/android/*
samples/todos/ios/*
samples/todos/docs/*
samples/todos/test/*
samples/todos/src/scripts.xml
samples/todos/src/styles.xml
