language: node_js
node_js:
    - "0.10"
script:
    - "npm install -g grunt-cli"
    - "npm install -g bower"
    - "npm install -g karma"
    - "npm install"
    - "bower install"
    - "grunt karma:coverage coveralls"
