<h1>{@msg key="nav_signin"/}</h1>
<form id="sign-in-form" action="{submitURL}">
  <div class="fields">
    <fieldset>
      <label for="ip-user">{@msg key="username"/}</label>
      <input id="ip-user" type="text" name="username" placeholder="{@msg key="username"/}" required>
    </fieldset>
    <fieldset>
      <label for="ip-password">{@msg key="password"/}</label>
      <input id="ip-password" type="password" name="password" placeholder="{@msg key="password"/}" required>
    </fieldset>
  </div>
  <div class="buttons">
    <button class="cancel">{@msg key="cancel"/}</button>
    <button type="submit">{@msg key="submit"/}</button>
  </div>
</form>