@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia'), local('Sofia-Regular'), url('http://themes.googleusercontent.com/static/fonts/sofia/v2/eNNA2vlZnUPtgq9g__E3cA.woff') format('woff');
}
